body {
    margin: 0px;
}
main {
    padding: 16px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgb(162, 195, 97);

}
img {
    height: 200px;
}
nav {
    border: 1px solid black;
    padding: 16px;
    background-color: orangered;
}
nav a {
    color: white;
    text-decoration: none;
}

h1 {
    color: #046749;
}
h3 a {
    color: rgb(0, 198, 0);
    text-decoration: none;
}
.grey-background tr:nth-child(even){
    background-color: rgba(214, 214, 214, 0.725);
}

.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-self: center;
    column-gap: 100px;
}
